/*! == COMPONENTS == */

.button {
    position: relative;
    display: inline-block;
    padding: 1em 4em;
    -webkit-appearance: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: $supporting-font;
    font-size: 0.75em;
    letter-spacing: 0.08em;
    background: $brand-orange;
    color: white;
    transition: color 0.5s ease;
    
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $brand-orange;
    }
    
    &:before {
            @include childOverlay;
            width: 0;
            background: $brand-purple;
            transition: width 0.3s ease;
    }
    
    &:hover:before {
        width:100%
    }
    
    span {
        position: relative;
        z-index: 10;
    }
    
    &__prompt {
        text-align: left;
        padding:1em 6em 1em 1em;
        
        &:after {
            position: absolute;
            top:    0.5em;
            right: 1em;
            content: '\f054';
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            font-size: 1.5em;
        }
        
    }
    
    &__ghost {
        background:transparent;
        border:2px solid $brand-orange;
        color: $brand-orange;
        &:hover {
            color: $brand-purple;
        }
        &:before {
            background:$brand-orange;            
        }        
    }
    
    &__fullwidth {
        display: block;
        text-align: center;
        padding:1em 2em 2em;
        &:after {
            top:initial;
            bottom:0;
            left:1em;
            content: '\f078';
        }     
    }
    &__dark-hover {
        &:hover {
            color: $brand-purple;
        }
        &:before {
            background:$brand-dark-grey;            
        }
    }
}

#kglogo {
    fill:white;
    max-width: 250px;
    opacity:0;
    transition: opacity 3s ease-in-out;
    transition-delay: 1.5s;
}

.loaded #kglogo {
    opacity:1;
}










